<div class="note-sidebar">
  <div>
    <ion-searchbar
      [placeholder]="placeholderText"
      (ionChange)="onSearchChange($event)"
    ></ion-searchbar>
    <mds-button
      *ngIf="isShowingActiveNotes; else backToNotesButton"
      class="new-note-button"
      color="danger"
      expand="block"
      icon="add-circle-outline"
      (click)="onNewNoteButtonClick()"
      >New Note</mds-button
    >
    <ng-template #backToNotesButton>
      <ion-button
        class="back-to-notes-button"
        fill="clear"
        expand="block"
        (click)="onBackToNotesButtonClick()"
        ><ion-icon slot="start" name="arrow-back"></ion-icon>Back to
        notes</ion-button
      >
    </ng-template>
    <hr />
  </div>
  <div>
    <hn-note-list
      (noteSelection)="onNoteSelection($event)"
      [notes]="notes"
      [searchText]="searchText"
      [selectedNote]="selectedNote"
      [selectedNoteUpdatedAt]="selectedNoteUpdatedAt"
    ></hn-note-list>
  </div>
  <div *ngIf="isShowingActiveNotes">
    <hr />
    <ion-button
      class="trash-button"
      fill="clear"
      expand="full"
      (click)="onTrashButtonClick()"
    >
      <ion-icon slot="start" name="trash"></ion-icon>
      Trash Folder
    </ion-button>
  </div>
</div>
