<div class="tag-sidebar">
  <div class="buttons">
    <mds-button
      class="export-button"
      fill="clear"
      icon="open"
      type="link"
      (click)="onExportButtonClick()"
    >
      Export Summary
    </mds-button>
    <mds-button
      class="copy-button"
      fill="clear"
      icon="copy"
      type="link"
      (click)="onCopyButtonClick()"
    >
      Copy
    </mds-button>
  </div>
  <h1 class="title-screen">Tag Summary</h1>
  <div class="tag-summary" #tagSummary>
    <div class="title-print" [innerHTML]="title"></div>
    <div class="tag-container" *ngFor="let tag of tags; trackBy: tagTracker">
      <span class="hashtag">{{ tag.name }}</span>
      <mds-bulleted-list *ngFor="let content of tag.safeContent; trackBy: contentTracker">
        <mds-bulleted-item>
          <span class="content" [innerHTML]="content"></span>
        </mds-bulleted-item>
      </mds-bulleted-list>
    </div>
  </div>
</div>
