.tag-sidebar {
  background-color: #f7f7f7;
  flex-shrink: 0;
  height: 100%;
  overflow-y: auto;
  padding: 3rem;
  position: relative;
  width: 450px;

  .buttons {
    position: absolute;
    right: 1rem;
    top: 0.5rem;

    .export-button,
    .copy-button {
      --color: #000000;
      --color-activated: #000000;
      --color-focused: #000000;
      --color-hover: #000000;
      position: relative;
      text-transform: none;
    }

    .export-button {
      margin-right: 3px;

      &::after {
        border-right: 1px solid #979797;
        bottom: 3px;
        content: '';
        position: absolute;
        right: -3px;
        top: 3px;
      }

      ion-icon {
        transform: rotate(180deg);
      }
    }
  }

  .title-print {
    display: none;
  }

  h1 {
    color: #1b1b1b;
    margin-top: 3rem;
  }

  .tag-container {
    min-height: 3.875rem;
  }

  .hashtag {
    background-color: #1b1b1b;
    border-radius: 13px;
    color: #ffffff;
    line-height: 175%;
    padding: 0.25rem 0.5rem;
  }

  .tag-summary-copy-spacer,
  .tag-summary-copy-bullet {
    display: none;
  }

  ul > li {
    color: #333333;
    margin-bottom: 2rem;
  }

  @media print {
    .buttons,
    .title-screen {
      display: none;
    }

    .title-print {
      display: block;
    }
  }
}
