<div class="note-list">
  <ion-list *ngIf="filteredNotes.length || !searchText; else noMatchingNotes">
    <ion-item
      *ngFor="let item of filteredNotes; trackBy: tracker"
      [ngClass]="{ selected: item.note === selectedNote }"
      (click)="onNoteClick(item.note)"
    >
      <ion-label>
        <div class="content" [innerHTML]="item.displayText"></div>
        <div class="date">{{ item.note.displayDate }}</div>
      </ion-label>
    </ion-item>
  </ion-list>
  <ng-template #noMatchingNotes>
    <p class="no-matching-notes">
      We didn't find any notes that match your search.
    </p>
  </ng-template>
</div>
