.note-list {
  color: #ffffff;

  mds-list {
    background: transparent;

    mds-item {
      cursor: pointer;

      .listItemText {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .no-matching-notes {
    padding: 1rem;
  }
}
