<div class="note-list">
  <mds-list *ngIf="filteredNoteContainers.length || !searchText; else noMatchingNotes">
    <mds-item
      *ngFor="let item of filteredNoteContainers; trackBy: tracker"
      [ngClass]="{ selected: item.note === selectedNote }"
      (click)="onNoteClick(item.note)"
    >
      <div slot="title" class="listItemTitle" [innerHTML]="item.displayTitle"></div>
      <div slot="content" class="listItemText" [innerHTML]="item.displayText"></div>
      <div slot="detail" class="date">{{ item.note.displayDate }}</div>
    </mds-item>
  </mds-list>
  <ng-template #noMatchingNotes>
    <p class="no-matching-notes">
      We didn't find any notes that match your search.
    </p>
  </ng-template>
</div>
