<ion-content>
  <div class="home-container">
    <div class="notes-list">
      <ion-searchbar placeholder="Search Notes"></ion-searchbar>
      <ion-button color="danger" expand="block" (click)="onNewNoteButtonClick()"
        ><ion-icon slot="start" name="add-circle-outline"></ion-icon>New
        Note</ion-button
      >
      <hr />
      <ion-list>
        <ion-item
          *ngFor="
            let note of notesProvider.notes;
            trackBy: notesProvider.tracker
          "
          [ngClass]="{ selected: note === selectedNote }"
          (click)="onNoteClick(note)"
        >
          <ion-label>
            <div class="content" [innerHTML]="note.content"></div>
            <div class="date">{{ note.displayDate }}</div>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div class="notes-editor">
      <editor
        #editor
        [init]="{ height: '100%' }"
        [(ngModel)]="selectedNote.content"
        (onChange)="onContentChange($event)"
      ></editor>
    </div>
    <div class="tags-list">
      <h1>Tag Summary</h1>
      <ion-chip>
        <ion-label>#people</ion-label>
      </ion-chip>
      <ul>
        <li>
          Todd Wilkens: runs partner ops for CC
        </li>
        <li>
          Eric Wilkens: Cloud ops subset, provisioning, partner help desk
        </li>
      </ul>
      <ion-chip>
        <ion-label>#pain-point</ion-label>
      </ion-chip>
      <ul>
        <li>
          Sell what we have vs what we don't have
        </li>
      </ul>
      <ion-chip>
        <ion-label>#question</ion-label>
      </ion-chip>
      <ul>
        <li>
          What can partners get in return for certifying? What is their
          incentive?
        </li>
        <li>
          Why do 146/893 sales partner enroll but not start?
        </li>
      </ul>
    </div>
  </div>
</ion-content>
