<ion-content>
  <div class="home-container">
    <div class="notes-list">
      <ion-searchbar placeholder="Search Notes"></ion-searchbar>
      <ion-button color="danger" expand="block"
        ><ion-icon slot="start" name="add-circle-outline"></ion-icon>New
        Note</ion-button
      >
      <hr />
      <ion-list>
        <ion-item>
          <ion-label>
            <h2>AARP Weekly Meeting</h2>
            <p>Agenda: <br />Do a rewind. Haven't thou..</p>
            <p class="date">Today 9:22 am</p>
          </ion-label>
        </ion-item>
        <ion-item class="selected">
          <ion-label>
            <h2>Webex University</h2>
            <p>Todd Wilkens: runs partner ops for CC</p>
            <p class="date">08/16/2019</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>AARP Weekly Meeting</h2>
            <p>Agenda: <br />Do a rewind. Haven't thou..</p>
            <p class="date">08/08/2019</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>New Project Meeting</h2>
            <p>Agenda: <br />Let's start with some ide..</p>
            <p class="date">08/08/2019</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div class="notes-editor">
      <editor [init]="{ height: '100%' }" [(ngModel)]="editorContents"></editor>
    </div>
    <div class="tags-list">
      <h1>Tag Summary</h1>
      <ion-chip>
        <ion-label>#people</ion-label>
      </ion-chip>
      <ul>
        <li>
          Todd Wilkens: runs partner ops for CC
        </li>
        <li>
          Eric Wilkens: Cloud ops subset, provisioning, partner help desk
        </li>
      </ul>
      <ion-chip>
        <ion-label>#pain-point</ion-label>
      </ion-chip>
      <ul>
        <li>
          Sell what we have vs what we don't have
        </li>
      </ul>
      <ion-chip>
        <ion-label>#question</ion-label>
      </ion-chip>
      <ul>
        <li>
          What can partners get in return for certifying? What is their
          incentive?
        </li>
        <li>
          Why do 146/893 sales partner enroll but not start?
        </li>
      </ul>
    </div>
  </div>
</ion-content>
